
<footer class="page-footer font-small unique-color-dark">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" > <p id="show"><span>&#169;</span>Copyright Of the Cool Kids Project Club</p>
<button class="btn btn-light" id="togglebutton">Toggle Copyright</button> 
  </div> 
  <!-- Copyright -->

</footer>
<!-- Footer -->

